/Portal/nbproject/private/
/Portal/Portal-war/nbproject/private/
/Portal/Portal-ejb/nbproject/private/
/Portal/Portal-war/build/
/Portal/Portal-ejb/build/
/Portal/Portal-ejb/dist/
/Portal/build/
/Portal/dist/
/Portal/Portal-war/dist/